            html, body {
              
                color: #4a4a4a;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            body {
           		background-image: url('/images/web/taust.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .top-left {
            	position: absolute;
            	left: 10px;
            	top: 18px;
            }

            .content {
                width: 1300px;
                padding-top: 150px;
                margin: 0 auto;
                margin-bottom: 200px;
            }


            .title {
                font-size: 65px;
                font-weight: 800;
                color: #FFFFFF;
                line-height: 65px;
            }

            .subtext {
                font-size: 32px;
                color: #FFFFFF;
            }

            .links > a, .left-menu-desktop > a {
                color: #FFF;
               /* padding: 0 25px; */
               margin-left: 10px;
               margin-right: 10px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }


			.card.workroom {
				margin-top: 30px;
				text-align: left;
			}

			.open-details-btn {
				position: absolute; right: -1px; bottom: -1px; background-color: #38c172; width: 100px; border-bottom-right-radius: 4px; border-top-left-radius: 8px; text-align: center; height: 30px; font-weight: bold; color: #FFFFFF; line-height: 30px;
			}

			.card-logo-and-text {
				height: 100px;
			}

			.card-contact-info {
				height: 50px;
				border-top: 1px solid #eaeaea;
				padding-top: 10px;
			}

			.show-brand-logo {
			width: 100%;
			}

			.mb-15 {
				margin-bottom: 15px;
			}

			.selectize-container {
				width: 370px;
				display: inline-block;
				text-align: left;
			}

			.selectize-input {
				height: 37px;
				line-height: 23px !important;
				font-weight: 600;
				border: 0 !important;
			}

			.selectize-dropdown .active {
				background-color: #38c172 !important;
				color: #FFFFFF !important;
				font-weight: 600 !important;
			}

			.find-btn {
				width: 100px;
			}


			.card-as-link {
				color: #555;
				text-decoration: none;
			}

			.card-as-link:hover {
				text-decoration: none;
				color: #333;
			}

			.open-details-btn {
				opacity: 0.4;
			}

			.card:hover .open-details-btn {
				opacity: 1;
			}

			.single-workroom-title {
				font-weight: 600; 
				display: table; 
				border-bottom: 2px solid #eaeaea; 
				padding-bottom: 20px; 
				margin-bottom: 30px;
			}
			
			.left-menu-mobile {
				display: none;
			}
	
			.left-menu-desktop {
				display: block;
			}



@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.content {
		width: 1100px;
	}
}



@media screen and (min-width: 900px) and (max-width: 1199px) {
	.content {
		width: 850px;
	}
	.card-logo-and-text {
		height: 130px;
	}
}


@media screen and (min-width: 0px) and (max-width: 899px) {
	.content {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		text-align: left;
		padding-top: 90px;
	}

	.selectize-container {
		width: 180px;
	}
	
	.links {
		text-align: left;
	}
	
	.left-menu-mobile {
		display: block;
	}
	
	.left-menu-mobile .fas {
		color: #FFFFFF;
		font-size: 15px;
		line-height: 35px;
	}
	
	.left-menu-desktop {
		display: none;
	}
	
	.find-btn {
		width: 80px;
	}
	
	
	.card-logo-and-text {
			height: 150px;

	}

	.single-workroom-title {
		border-bottom: 0;
		margin-bottom: 0;
		margin-top: 15px;
	}

	
	.title {
	font-size: 38px;
	line-height: 38px;
	text-align: left;
	}
	
	.subtext {
	margin-top: 10px;
	font-size: 15px;
	text-align: left;
	font-weight: 600;
	}
	
	.flex-center {
	align-items: inherit;
	display: block;
	}
	
	.nav.fixed {
		background-color: rgba(0, 0, 0, 0.7);
		height: 70px;
	}
	
	.open-details-btn {
		opacity: 1;
	}
	
	.card-logo-and-text {
	height: 100%;
	padding-bottom: 10px;
	}
	
}
