html, body {
	color: #4a4a4a;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	height: 100%;
	margin: 0;
}

body {
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #f1f1f1;
}

a, a:hover { 
	text-decoration: none; 
	color: inherit;
}

.nav-bar {
	width: 100%;
	background-image: url('/images/web/background.png');
	height: auto;
	padding-bottom: 25px;
	padding-top: 25px;

}

.nav-bar-slope {
	height: 200px;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
 transform: translateZ(0);
 outline: none;
	background-image: url('/images/web/background.png');
	background-position-x: 100px;
	margin-top: -3px;

}

.nav-bar-content {
	width: 1200px;
	margin: 0 auto;
}

.logo {
	width: 250px;
}

a.logo {
	display: table;
}

a.button {
	border: 1px solid rgba(255, 255, 255, 0.54);
	border-radius: 10px;
	background-color: #094ede;
	width: 150px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: inline-block;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	margin-right: 15px;
	transition: all 0.1s ease-in;
}

a.button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

a.button.selected {
	background-color: #FFFFFF;
	color: #000000;
}

a.button.yellow {
	background-color: yellow;
	border: 0;
	color: #000000;
	float: right;
	width: 250px;
}



h2.heading {
	color: #FFFFFF;
	font-weight: 600;
}

.content {
	width: 1200px;
	margin: 0 auto;
	border: 0px solid black;
	min-height: 100%;
	display: block;
	position: relative;
	margin-top: -180px;
	padding-bottom: 80px;
}

.content-box {
	background-color: #FFFFFF;
	border-radius: 10px;
	min-height: 500px;
	padding: 40px 30px;
}

.wr-card-container {
	padding-top: 20px;
	border: 0px solid #dadada;
	height: auto;
}

.wr-card {
	padding: 20px 30px;
	border: 1px solid #dadada;
	border-radius: 20px;
	height: auto;
	position: relative;
	background-color: #FFF;
	transition: all 0.2s ease-in;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.17);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.17);
}

.wr-card:hover {
	-webkit-box-shadow: 0px 0px 42px 12px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px 0px 42px 12px rgba(0,0,0,0.17);
	box-shadow: 0px 0px 42px 12px rgba(0,0,0,0.17);
}

.wr-card:hover h3 {
	color: #175df6;
}

.wr-card h3 {
	font-weight: 700;
}

.wr-logo {
	max-width: 100%;
	max-height: 130px;
	margin-bottom: 25px;
}

.dashed-top {
	border-top: 2px dashed #dadada;
	padding-top: 20px;
}

.headline-logo {
	height: 145px;
}

.contact-info {
	margin-top: 40px;
}

/* EXTRAS */

.mt-20 {
	margin-top: 20px;
}

.mb-15 {
	margin-bottom: 15px;
}

.blue-line {
	position: absolute;
	width: 6px;
	height: 40px;
	left: -1px;
	top: 15px;
	background-color: #175df6;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.wr-card .icon {
	width: 20px;
	display: inline-block;
	vertical-align: top;
}

.wr-card .icon-text {
	width: calc(100% - 25px);
	display: inline-block;
} 

.content.single .icon {
	width: 25px;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
}

.content.single .icon-text {
	width: calc(100% - 29px);
	display: inline-block;
	font-size: 18px;
	word-break: break-all;
}

.content.single .info-row {
	margin-bottom: 10px;
	font-weight: 400;
}


.content.single .rating-stars i {
	font-size: 18px;
	color: blue;
}

.content.finder .rating-stars i {
	font-size: 12px;
	color: #b6c4e6;
}

.content.finder .rating-stars {
	position: absolute;
	right: 15px;
	bottom: 0;
}

.footer {
	background-color: #1142af;
	padding: 60px;
}

.footer-content {
	width: 1200px;
	margin: 0 auto;
	color: #FFFFFF;
} 

.footer-content h3 { font-weight: 700; margin-bottom: 20px; }
.footer-content p { line-height: 14px; margin-bottom: 10px; }


/* FONTS */
h5.company-name {
	color: #bbbbbb;
	margin-top: 0;
	padding-top: 0;
}

h1.brand-name {
	margin-bottom: 0;
}

a.blue-link {
	color: #155ef6;
}

.ask-offer-text-mobile {
	display: none;
}

/* MEDIA QUERIES */


@media screen and (max-width: 1366px) {

	.content, .footer-content {
		width: 1100px;
	}
	
	.nav-bar-content {
		width: 1100px;
		margin: 0 auto;
	}

}

@media screen and (max-width: 1100px) {

	.content, .footer-content {
		width: 1000px;
	} 

	.nav-bar-content {
		width: 1000px;
		margin: 0 auto;
	}

}

@media screen and (max-width: 991px) {

	.content, .footer-content {
		width: 90%;
	} 

	.footer-content h3 {
		margin-top: 25px;
	}  

	.footer-content h3.last {
		margin-top: 50px;
	}

	.nav-bar-content {
		width: 90%;
		margin: 0 auto;
	}

	.logo {
		width: 200px;
	}

	a.button.yellow {
		width: 190px;
		vertical-align: top;
	}

	a.button {
		width: 80px;
	}

	.headline-logo { height: auto; }

}

@media screen and (max-width: 767px) {

	.rating-stars {
		margin-left: 30px;
	}

	.logo {
		width: 170px;
	}

	a.button.yellow { 
		width: 90px;
		font-size: 12px;
		margin-right: 0;
	 }

	 a.button {
	 	margin-right: 10px;
	 }

	 .nav-bar h2.heading {
	 	font-size: 20px;
	 }

	 .footer h3 {
	 	font-size: 20px;
	 }

	 h1.brand-name {
	 	font-size: 25px;
	 	font-weight: 700;
	 }

	 h5.company-name {
	 	font-size: 12px;
	 }

	 .content-box {
	 	order: 1;
	 }

	 .map {
	 	order: 2;
	 }



	.ask-offer-text-desktop { display: none; }
	.ask-offer-text-mobile { display: block; }

}

